.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.back{
    background-color: #4ccaf0d1;
    font-size: medium;
    padding: 8px;
    transform: translateY(40px) translateX(40px);
    cursor: pointer;
    border-radius: 10px;
}

.containerNintendo{
    background-image: url(../../assets/NintendoForm.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 70%;
    height: 500px;
    color: white;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    gap: 10px;
    background-color: #4ccaf04a;
    border: 1px solid black;
    backdrop-filter: blur(10px);
    padding: 2.5em;
    border-radius: 25px;
    transition: .4s ease-in-out;
}

.containerForm{
    display: flex;
    gap: 100px;
}

.form1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 25px;
    transform: translateY(15px);
}

.input{
    line-height: 30px;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    background-color: #f8fafc;
    color: #0d0c22;
    transition: .5s ease;
}

.input::placeholder{
    color: black;
}

.input:active {
    transform: scale(0.95);
}

.input:focus {
    border: 2px solid grey;
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
                inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}

.create{
    margin-top: 30px;
    padding: 12.5px 30px;
    border: none;
    border-radius: 100px;
    background-color: #4361EE;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    cursor: pointer;
}


.create:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

.form2{
    display: flex;
    flex-direction: column;
}


.info{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    transform: translateY(75px);

}


.image{
    max-width: 100%;
    max-height: 300px;
    border-radius: 50%;
}

.imageName > p{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.dataRating{
    display: flex;
    justify-content: space-between;
}

.datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden; /* Oculta el contenido desbordado */
    gap: 40px;
    text-wrap: wrap;
    width: 300px;
    color: white;
} 

.platform,
.genre{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    
}

.button{
    padding: 5px;
    background-color: #4ccaf00f;
    border: 1px solid black;
    border-radius: 20px;
    color: white;
}



@media screen and (max-width: 1820px){
    .containerNintendo{
        width: 80%;
    }
} 

@media screen and (max-width: 1580px){
    .containerNintendo{
        width: 90%;
    }
} 

@media screen and (max-width: 1400px){
    .containerNintendo{
        width: 100%;
    }
} 
