.container{
    display: flex;
    justify-content: space-around;
/*     justify-content: center;
    gap: 100px; */
}

.filterContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px double blue; */
    border-radius: 20px;
    height: 90%;
    position: sticky;
    top: 20px;
    padding: 30px;
    background-color: #7fbbdc;
/*     box-shadow: 0px 0px 23px 0px rgba(0,215,255,1); */
    box-shadow: 0px 0px 24px 0px rgba(114,9,183,1);
    backdrop-filter: blur(50px);
    transform: translateX(-50px);
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.rating{
    border-bottom: 2px dotted black;
/*     padding-bottom: 20px; */
    display: flex;
    flex-direction: column;
}


.name{
    border-bottom: 2px dotted black;
/*     padding-bottom: 20px; */
    display: flex;
    flex-direction: column;
}


.genre{
/*     padding-bottom: 30px; */
    display: flex;
    flex-direction: column;
}

.title{
    padding-bottom: 10px;
    text-align: left;
    font-size: x-large;
}
.container
input,
label{
    margin-bottom: 15px;
    padding: 10px;
}