.container{
    display: flex;
    justify-content: space-around;
}

.filterContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    height: 90%;
    position: sticky;
    top: 20px;
    padding: 30px;
    background-color: #4ccaf0bd;
    border: 1px solid black;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 24px 0px rgba(114,9,183,1);
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.reset{
    padding: 5px;
    border: none;
    border-radius: 100px;
    background-color: #7109b793;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    cursor: pointer;
}

.rating,
.name,
.genre{
    display: flex;
    flex-direction: column;
}


.title{
    padding-bottom: 10px;
    text-align: left;
    font-size: x-large;
}
.container
input,
label{
    margin-bottom: 15px;
    padding: 10px;
}




@media screen and (max-width: 1000px){
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 70px;
    }
    .filterContainer{
        max-width: 500px;
        position: static;
    }
} 