.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    gap: 20px;
}

.button{
    padding: 2px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 49px 0px rgba(20,204,246,1);
    font-size: large;
}

.select{
    padding: 2px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 49px 0px rgba(20,204,246,1);
    font-size: large;
}

.option{
    padding: 10px;
}
