.container{
    background-color: #fefefe;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 3px -1px 100px 4px rgba(135, 135, 135, 0.99);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .containerForm{

} */