.container{
    background-color: #7fbbdc;
    border: 1px solid black;
    padding: 20px 20px;
    margin: 30px;
    border-radius: 5px;
    box-shadow: 3px -1px 100px 4px #88FFF7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .containerForm{

} */